<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="db.properties"/>

    <environments default="development">
        <environment id="${environment}">
            <transactionManager type="${transaction}"/>
            <dataSource type="${pool}">
                <property name="driver" value="${ConnectionManager.driver}"/>
                <property name="url" value="${ConnectionManager.connection}"/>
                <property name="username" value="${ConnectionManager.user}"/>
                <property name="password" value="${ConnectionManager.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="org/fbi/fskfq/repository/mapper/common/CommonMapper.xml"/>
        <mapper resource="org/fbi/fskfq/repository/mapper/FsKfqPaymentInfoMapper.xml"/>
        <mapper resource="org/fbi/fskfq/repository/mapper/FsKfqPaymentItemMapper.xml"/>
        <mapper resource="org/fbi/fskfq/repository/mapper/FsKfqSysCtlMapper.xml"/>
    </mappers>

</configuration>